/* Component-specific styles (this only affects the App component and its children) */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.child1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: linear-gradient(
    to right,
    var(--cute-blue),
    var(--purple),
    var(--peach)
  );
  border-radius: 0.3rem;
  padding: 0.5rem;
}
h1 {
  margin-top: 10rem;
}
h1,
h2 {
  color: var(--whyt);
  margin-left: 1rem;
}
.child2 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: var(--whyt);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

header {
  grid-column: 2/4;
  grid-row: 1/2;
}

.feedbacks-div {
  grid-column: 2/4;
  grid-row: 3 / auto;
}

.feedback-link {
  background-color: var(--purple);
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;
  padding: 0.6rem 1.2rem;
  color: var(--whyt);
  font-weight: bold;
  text-decoration: none;
}

.form-div {
  max-width: 600px;
  margin: 0 auto;
}

.form-div h2 {
  color: var(--carbon);
  margin: 1rem;
}

legend {
  font-size: 4rem;
}

label {
  font-weight: bold;
}
.form-input-div {
  padding: 0.2rem;
  margin: 0.3rem;
}
input,
select,
textarea {
  background-color: var(--sky-grey);
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 100%;
}
fieldset {
  border-style: none;
  background-color: var(--whyt);
}

.form-buttons-div {
  margin-left: 22rem;
}

.form-buttons-div button {
  color: var(--whyt);
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
}

/* .form-buttons-div:first-child {
  /* background-color: var(--carbon); //not working */
} */

header {
  background-color: var(--carbon);
  border-radius: 0.7rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.8rem;
}

.card button,
.child2 button {
  background-color: var(--light-grey);
  border: 0.1rem solid transparent;
  color: var(--blue);
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 0.5rem;
}

.card button:hover,
.child2 button:hover {
  background-color: var(--blue);
  color: var(--whyt);
  opacity: 0.5;
}
