/* Component-specific styles (this only affects the App component and its children) */

.container {
  margin: 0 auto;
  max-width: 400px;
  display: grid;
  gap: 1rem;
  /*Mobile design*/
  max-width: 500px;
  grid-template-columns: 1fr;
}
p {
  color: white;
}
h1,
h2 {
  color: var(--whyt);
  margin-left: 1rem;
}

.item1 {
  display: grid;
  /*Mobile design*/
  grid-template-columns: 1fr;
  gap: 1rem;
}

.child1 {
  /*Mobile design*/
  background-image: url("./assets/suggestions/mobile/background-header.png");
  background-repeat: repeat-y;
}

.feedbacks-div {
  display: grid;
  grid-template-columns: 1fr;
}

.feedback-link {
  background-color: var(--purple);
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;
  padding: 0.6rem 1.2rem;
  color: var(--whyt);
  font-weight: bold;
  text-decoration: none;
}

.form-div {
  max-width: 600px;
  margin: 0 auto;
}

.form-div h2 {
  color: var(--carbon);
  margin: 1rem;
}

.form-div p {
  color: inherit;
  margin-left: auto;
}

.circle-sharp {
  font-size: 4rem;
  color: color-mix(in lab, var(--cute-blue) 20%, var(--peach) 80%);
}

label {
  font-weight: bold;
}
.form-input-div {
  padding: 0.2rem;
  margin: 0.3rem;
}
input,
select,
textarea {
  background-color: var(--sky-grey);
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 92%;
}
fieldset {
  border-style: none;
  background-color: var(--whyt);
}

.form-buttons-div {
  margin-top: 1rem;
  margin-left: 21rem;
  margin-bottom: 3rem;
}

.cancel-button {
  color: var(--whyt);
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.7rem;
  background-color: var(--carbon);
  text-decoration: none;
  font: inherit;
  font-size: 0.7rem;
  font-weight: 500;
}

.submit-button {
  background-color: var(--purple);
  color: var(--whyt);
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.7rem;
  font: inherit;
  font-size: 0.7rem;
  font-weight: 500;
}

header {
  background-color: var(--carbon);
  border-radius: 0.4rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.2rem;
}

/*common styles in card buttons and filter buttons*/
.card button,
.child2 button {
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 0.5rem;
}

/*common styles in card buttons and filter buttons*/
.card button,
.child2-button {
  background-color: var(--light-grey);
  color: var(--blue);
}

.card button:hover,
.child2 button:hover {
  background-color: var(--blue);
  color: var(--whyt);
  opacity: 0.5;
}

/*Style when button is clicked*/
.clicked {
  background-color: var(--blue);
  color: var(--whyt);
}

.feedbacks-div img {
  display: block;
  margin: auto;
}

/*Tablet Dimensions*/
@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    margin: 2rem auto;
    max-width: 800px;
  }
  h1 {
    margin-top: 2rem;
    font-size: medium;
  }
  .child1 h1,
  .child1 p {
    margin-left: 1rem;
  }
  .item1 {
    grid-column: 1/2;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: auto;
    max-width: auto;
    gap: 0.1rem;
  }
  .child1 {
    background-image: url("./assets/suggestions/tablet/background-header.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 0.5rem;
  }
  .item2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  header {
    background-color: var(--carbon);
    border-radius: 0.7rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.8rem;
    max-width: auto;
  }
}

/*Desktop Dimensions*/
@media (min-width: 1025px) {
  .container {
    padding: 4rem;
    max-width: 1100px;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .item1 {
    grid-column: 1/2;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-height: 20rem;
  }
  .child1 {
    background-image: linear-gradient(
      to right,
      var(--cute-blue),
      var(--purple),
      var(--peach)
    );
    border-radius: 0.3rem;
    padding: 0.5rem;
    max-height: 10rem;
    max-width: 15rem;
  }

  .child2 {
    background-color: var(--whyt);
    border-radius: 0.3rem;
    padding: 0.5rem;
  }

  .item2 {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr;
  }

  header {
    background-color: var(--carbon);
    border-radius: 0.7rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.8rem;
    grid-row: 1/2;
  }
}
