/* Component-specific styles (this only affects the App component and its children) */

.container {
  margin: 0 auto;
  padding: 4rem;
  max-width: 1100px;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
p {
  color: white;
}
.item1 {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-height: 20rem;
}
.child1 {
  background-image: linear-gradient(
    to right,
    var(--cute-blue),
    var(--purple),
    var(--peach)
  );
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-height: 10rem;
  max-width: 15rem;
}

h1,
h2 {
  color: var(--whyt);
  margin-left: 1rem;
}
.child2 {
  background-color: var(--whyt);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.item2 {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr;
}
header {
  grid-row: 1/2;
}

.feedbacks-div {
  display: grid;
  grid-template-columns: 1fr;
}

.feedback-link {
  background-color: var(--purple);
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;
  padding: 0.6rem 1.2rem;
  color: var(--whyt);
  font-weight: bold;
  text-decoration: none;
}

.form-div {
  max-width: 600px;
  margin: 0 auto;
}

.form-div h2 {
  color: var(--carbon);
  margin: 1rem;
}

.form-div p {
  color: inherit;
  margin-left: auto;
}

.circle-sharp {
  font-size: 4rem;
  color: color-mix(in lab, var(--cute-blue) 20%, var(--peach) 80%);
}

label {
  font-weight: bold;
}
.form-input-div {
  padding: 0.2rem;
  margin: 0.3rem;
}
input,
select,
textarea {
  background-color: var(--sky-grey);
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 92%;
}
fieldset {
  border-style: none;
  background-color: var(--whyt);
}

.form-buttons-div {
  margin-top: 1rem;
  margin-left: 21rem;
  margin-bottom: 3rem;
}

.cancel-button {
  color: var(--whyt);
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.7rem;
  background-color: var(--carbon);
  text-decoration: none;
  font: inherit;
  font-size: 0.7rem;
  font-weight: 500;
}

.submit-button {
  background-color: var(--purple);
  color: var(--whyt);
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.7rem;
  font: inherit;
  font-size: 0.7rem;
  font-weight: 500;
}

header {
  background-color: var(--carbon);
  border-radius: 0.7rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.8rem;
}

.card button,
.child2 button {
  background-color: var(--light-grey);
  border: 0.1rem solid transparent;
  color: var(--blue);
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 0.5rem;
}

.card button:hover,
.child2 button:hover {
  background-color: var(--blue);
  color: var(--whyt);
  opacity: 0.5;
}
